// ############ BREAKPOINTS #############

$bp-mobile-max: 767px;

$bp-tablet-min: 768px;
$bp-tablet-max: 1199px;

$bp-desktop-min: 1200px;

// ############### COLORS ###############

$color-white: #fff;
$color-background: #f4f4f4;

$color-content: #232323;
$color-shadow: rgba($color-content, 0.2);

$color-green: #24bd31;
$color-orange: #ff8700;
$color-red: #f00;

// ############### SIZES ###############

$navbar-mobile-height: 60px;

// ############## SHADOW ###############

$shadow: 0 0 15px $color-shadow;

// ############ TRANSITION #############

$transition-fast: 0.25s ease-out;
$transition: 0.5s ease-out;
$transition-slow: 0.75s ease-out;
